In [1]:
import phylopandas as phypd

In [2]:
seq_df = phypd.read_fasta("test.fasta")

In [3]:
seq_df.head()

,description,id,name,sequence
0,gi|2765658|emb|Z78533.1|CIZ78533 C.irapeanum 5...,gi|2765658|emb|Z78533.1|CIZ78533,gi|2765658|emb|Z78533.1|CIZ78533,CGTAACAAGGTTTCCGTAGGTGAACCTGCGGAAGGATCATTGATGA...
1,gi|2765657|emb|Z78532.1|CCZ78532 C.californicu...,gi|2765657|emb|Z78532.1|CCZ78532,gi|2765657|emb|Z78532.1|CCZ78532,CGTAACAAGGTTTCCGTAGGTGAACCTGCGGAAGGATCATTGTTGA...
2,gi|2765656|emb|Z78531.1|CFZ78531 C.fasciculatu...,gi|2765656|emb|Z78531.1|CFZ78531,gi|2765656|emb|Z78531.1|CFZ78531,CGTAACAAGGTTTCCGTAGGTGAACCTGCGGAAGGATCATTGTTGA...
3,gi|2765655|emb|Z78530.1|CMZ78530 C.margaritace...,gi|2765655|emb|Z78530.1|CMZ78530,gi|2765655|emb|Z78530.1|CMZ78530,CGTAACAAGGTTTCCGTAGGTGAACCTGCGGAAGGATCATTGTTGA...
4,gi|2765654|emb|Z78529.1|CLZ78529 C.lichiangens...,gi|2765654|emb|Z78529.1|CLZ78529,gi|2765654|emb|Z78529.1|CLZ78529,ACGGCGAGCTGCCGAAGGACATTGTTGAGACAGCAGAATATACGAT...

In [4]:
align_df = phypd.read_clustal("test.clustal")

In [5]:
align_df

    description       id            name  \
0 0       mouse    mouse  <unknown name>
  1     opossum  opossum  <unknown name>
1 0       mouse    mouse  <unknown name>
  1     opossum  opossum  <unknown name>

                                              sequence  \
0 0  MMPPWLLARTLIMALFFSCLTPGSLNPCIEVVPNITYQCMDQKLSK...
  1  -MVPWMVMALIMATTFFSCPDPGSCHSCLEVFPSIEYQCMDQNFSK...
1 0  MLPFILFSTLLSPILTESEKQQWFCNSSDAIISYSYCDHLKFPISI...
  1  MLQIVFFSILFTFTFTESMKNDWTCNSQDAEITYSSCDAKKPIPII...

                                                  star
0 0   * **::   :: : ****  *** : *:**.*.* ******::**...
  1   * **::   :: : ****  *** : *:**.*.* ******::**...
1 0  ** :::** *::  :*** *::* ***.** *:** **  *    *...
  1  ** :::** *::  :*** *::* ***.** *:** **  *    *...

It might be nice to be able to name the alignments instead of having each alignment be multiindexed by a number but maybe that's not a huge issue.